<h3>Your Turbo International Admin New Credentials</h3>

<table>
  <tr>
    <td>Login: <%=data['login'] %><b></b></td>
  </tr>
  <tr>
    <td>Password: <%=data['password']%><b></b></td>
  </tr>
  <tr>
    <td>Authentication Node: <%=data['authentication_node']%><b></b></td>
  </tr>
</table>
